In [1]:
import pandas as pd
import re

In [6]:
scrape = pd.read_csv("scrape14.csv")

In [7]:
def cleaning(x):   
    x = x.lower()
    for i in columndict.keys():
        if i in x:
            x = columndict[i]
    return x

In [ ]:
def cleaning_regex(x):
    x=x.lower()

In [8]:
columndict ={"acre": "AC",
                "alagoas": "AL",
                "amapá" :"AP",
                "amazonas": "AM",
                "bahia" :"BA",
                "cear" :"CE",
                "distrito federal": "DF",
                "rito santo" :"ES",
                "em goi" :"GO",
                "maranh" : "MA",
                "mato grosso do sul": "MS",
                "mato grosso": "MT",
                "minas gerais": "MG",
                "para" :"PB",
                "par":"PA",
                "paran": "PR",
                "pernambuco": "PE",
                "piau" :"PI",
                "rio de janeiro": "RJ",
                "rio grande do norte": "RN",
                "rio grande do sul" :"RS",
                "rondônia" :"RO",
                "roraima" :"RR",
                "santa catarina": "SC",
                "paulo": "SP",
                "sergipe": "SE",
                "tocantins": "TO"}

scrape["State"] = scrape["Estado"].apply(cleaning)
scrape.drop("Estado",axis=1,inplace=True)

In [9]:
columndict ={"dio":"Medium",
             "rande":"Big",
             "equeno":"Small"}

scrape["Size"] = scrape["Check"].apply(cleaning)

In [10]:
columndict ={"sortudo" : "Yes",
                "Outros":"No",
                "outro":"No"}

scrape["Adopted"] = scrape["StatusAdocao"].apply(cleaning)
scrape.drop("StatusAdocao",axis=1,inplace=True)

In [11]:
columndict ={"mea":"F",
             "acho":"M"}

scrape["Sex"] = scrape["Check"].apply(cleaning)

In [12]:
columndict ={"achorro":"Dog",
             "gato":"Cat"}

scrape["Type"] = scrape["Check"].apply(cleaning)
scrape.drop("Check",axis=1,inplace=True)

In [13]:
scrape.head()

,Unnamed: 0,Descricao,Fotos,PetID,TamDescricao,Temperamento,State,Size,Adopted,Sex,Type
0,0,['\nA história de LUIS CARLOS\nLUIS CARLOS - R...,1,119,181,['\nPersonalidade\n\n Temperamentos:\n ...,SP,Big,Yes,M,Dog
1,1,['\nA história de RAIKA\nRAIKA É UMA MESTIÇA D...,1,120,170,['\nPersonalidade\n\n Temperamentos:\n ...,SP,Medium,Yes,F,Dog
2,2,['\nA história de sem nome ainda\nesse lindo b...,1,121,209,['\nPersonalidade\n\n Temperamentos:\n ...,RJ,Small,Yes,M,Cat
3,3,"['\nA história de michel teló\nlindo,aproximad...",1,122,134,['\nPersonalidade\n\n Temperamentos:\n ...,RJ,Small,No,M,Cat
4,4,['\nA história de Ainda sem nome\nLinda filhot...,1,123,157,['\nPersonalidade\n\n Temperamentos:\n ...,RJ,Small,Yes,F,Cat

In [22]:
columndict ={"sem nome":"No Name"}

C    7413
G    4366
Name: Tipo, dtype: int64

In [35]:
print(re.search("de\s(\w*\s*\w*)\\n","\\nA história de LUIS CARLOS\\nLUIS CARLOS - RAÇA PERDIGUEIRO - Macho - APROX. 8 ANOS.\\nPORTE GRANDE. MUITO DÓCIL, AMOROSO E COMPANHEIRO. CONTATO COM ANTONELLA:cordioa@gmail.com\\n"))

None

In [15]:
scrape["Descricao"][0]

"['\\nA história de LUIS CARLOS\\nLUIS CARLOS - RAÇA PERDIGUEIRO - Macho - APROX. 8 ANOS.\\nPORTE GRANDE. MUITO DÓCIL, AMOROSO E COMPANHEIRO. CONTATO COM ANTONELLA:cordioa@gmail.com\\n']"

In [24]:
scrape["Descricao"][5500]

"['\\nA história de Filhotinho\\nFilhote macho\\n']"

name_dic = {}
for n,i in enumerate(scrape["Descricao"]):
    r = re.findall(r"\w+\\n",i)
    v = str(re.findall(r"de\s\w+\n",i))
    for i in r:
        name_dic[i] = i.strip("\\n").lower()
    for i in v:
        name_dic[i] = i.strip("\n").lower()
    scrape["Descricao"][n]= str(name_dic[i])

In [ ]:
columndict = name_dic
scrape["Nome"] = scrape["Descricao"].apply(sos)

In [ ]:
scrape["Descricao"]

In [ ]:
scrape["Nome"].value_counts()

In [ ]:
def reg (x):
    r = re.findall(r"(\w+)\\n",x)
    return r

In [ ]:
r = re.findall(r"(de\s\w+)\\n",scrape["Descricao"][80]))

In [ ]:
scrape["Nome_2"]=[",".join(map(str,l)) for l in scrape["Descricao"].apply(reg)]

In [ ]:
scrape["Nome_2"].value_counts()

In [12]:
name_dic = {}
for i in scrape["Descricao"]:
    v = str(re.findall(r"de\s(\w+)\n",i)).lower()

In [13]:
name_dic.pop('[')
name_dic.pop(']')

KeyError: '['

In [14]:
name_dic

{}

In [15]:
scrape["Status2"].value_counts()

Sim    6840
Não    4930
[]        9
Name: Status2, dtype: int64

In [16]:
for i in range(20):
    for k in state_dict.keys():
        scrape["Estado"][i] = re.sub(k , state_dict[k], scrape["Estado"][i])

NameError: name 'state_dict' is not defined